.next-step-section {
  background: linear-gradient(135deg, #0a1833, #000000);
  padding: 80px 20px;
  text-align: center;
  color: white;
}

.next-step-title {
  font-family: 'Geist', sans-serif;
  font-weight: 300; /* Light */
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
}


.next-step-subtitle {
  font-family: 'Geist', sans-serif;
  font-weight: 300; /* Light */
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  color: #D1D5DB;
}

.next-step-button {
  width: 226px;
  height: 44px;
  border-radius: 6px;
  padding: 7.6px 32px 8.4px 32px;
  background-color: #FFFFFF;
  font-family: 'Geist', sans-serif;
  font-weight: 500; /* medium weight for button text */
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: none;
  cursor: pointer;
}

.next-step-button:hover {
  background: #f3f4f6;
}
 