.lawyer-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.lawyer-title {
  font-family: 'Geist', sans-serif;
  font-weight: 500; /* Medium weight */
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
}


.lawyer-description {
  font-family: 'Geist', sans-serif;
  font-weight: 300; /* Light */
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #4B5563;
  max-width: 840px;
  margin: 0 auto;
}

